body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.navbar {
    background-color: DodgerBlue ;
    
}

#navbar-nav{
    color: whitesmoke;
}

.quem-somos{
    background-color: lightblue;
    color: white;
}

.margin{
    
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros{
    background-color:DarkBlue;
    color: whitesmoke;
}